body {
    padding: 0;
    margin: 0;
}

header {
    background-color: bisque;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em;
}

header img {
    inline-size: 3rem;
    block-size: 3rem;
    border-radius: 2.5em;
}

header nav {
    background-color: pink;
    border-radius: 3em;
}

header nav ul {
    list-style-type: none;
    display: flex;
    padding-inline: .5em;
}

header nav ul li{
    padding-inline: .5em;
}

header nav ul li a {
    text-decoration: none;
}

main {
    display:grid;
    grid-template-columns: 1fr;
    padding: .5em;
}

footer {
    display:grid;
    grid-template-columns: 1fr;
    padding: .5em;
}